<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <span></span>

    <nav class="flex flex-row gap-x-10 opacity-90">
        <a class="hover:scale-110" href="#top">Inicio</a>
        <a href="#educacion">Educación</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href=#proyectos>Proyectos</a>
        <a href="#contactos">Contacto</a>
    </nav>
</header>   